@font-face {
  font-family: Domaine;
  font-weight: 400;
  src: url('fonts/domaine/TestDomaineSansDisplay-Regular.otf');
}

@font-face {
  font-family: Domaine;
  font-weight: 500;
  src: url('fonts/domaine/TestDomaineSansDisplay-Medium.otf');
}

@font-face {
  font-family: Domaine;
  font-weight: 700;
  src: url('fonts/domaine/TestDomaineSansDisplay-Bold.otf');
}