* {
  text-decoration: none;
  cursor: none !important;
}

body {
  line-height: 1;
  margin: 0;
  font-family: "Domaine";
}

a:active,
a:hover {
  outline: 0;
}

::-webkit-scrollbar {
  background: transparent !important;
  height: 6px;
  width: 6px;
  border-radius: 12px;
  position: absolute;
}
::-webkit-scrollbar {
  height: 0;
  width: 0;
  position: absolute;
}
::-webkit-scrollbar-thumb {
  background: transparent;
}
